<div class="container px-5 pb-2">
    <div class="input-group">
        <select #categorySelect id="categorySelect" class="form-select" aria-label="Category select">
            <option value="none">Select a category</option>
            <option *ngFor="let category of refCategories"  [value]="category.id">{{category.name}}</option>
        </select>
        <select #difficultySelect id="difficultySelect" class="form-select" aria-label="Difficulty select">
            <option value="none">Select difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <button id="createBtn" class="btn btn-outline-secondary" type="button" (click)="createClick(categorySelect.value, difficultySelect.value)">Create</button>
    </div>
</div>
